/* Variables globales */
$font-primary: Arial, sans-serif;

/* Estilos para .i-title */
.i-title {
  font-family: $font-primary;
  height: 70px;
  overflow: hidden;

  &-item {
    font-size: 21px;
    font-weight: bold;
    color: rgb(255, 0, 0);
    display: flex;
    align-items: center;
    height: 100%; 
  }

  &-wrapper {
    height: 100%;
    animation: move 5s ease-in-out infinite alternate;
  }

  @keyframes move {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-100%);
    }
  }

  @media (max-width: 480px) {
    height: auto;
    overflow: visible;

    &-item {
      font-size: 18px; 
    }

    &-wrapper {
      height: auto;
      animation: none;
    }
  }
}


.i-desc {
  font-family: $font-primary;
  font-size: 21px; 
  margin-bottom: 20px; 
}

@media (max-width: 400px) {
  main {
    margin-bottom: 20px; 
  }

  .i-desc {
    font-size: 18px;
  }
}
