body {
  background: linear-gradient(to top, #FF5733, transparent);
}

.buttoncv {
  background: transparent;
  position: relative;
  padding: 5px 15px;
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid rgb(255, 0, 0);
  border-radius: 25px;
  outline: none;
  overflow: hidden;
  color: rgb(255, 0, 0);
  transition: color 0.3s 0.1s ease-out;
  text-align: center;
}
.buttoncv span {
  margin: 10px;
}
.buttoncv::before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  content: "";
  border-radius: 50%;
  display: block;
  width: 20em;
  height: 20em;
  left: -5em;
  text-align: center;
  transition: box-shadow 0.5s ease-out;
  z-index: -1;
}
.buttoncv:hover {
  color: #fff;
  border: 1px solid rgb(255, 0, 0);
}
.buttoncv:hover::before {
  box-shadow: inset 0 0 0 10em rgb(255, 0, 0);
}

.card {
  height: 20rem;
  width: 15rem;
  background: lightgrey;
  background-color: #4158d0;
  background-image: linear-gradient(43deg, #f44b49 0%, #ffcc70 50%, #dfe994 100%);
  border-top-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  transition: 0.5s ease-in-out;
  margin: auto;
}
.card .heading {
  text-align: center;
  font-weight: 600;
  padding-top: 1rem;
  font-size: large;
}
.card .input-div {
  display: flex;
  margin-top: 1rem;
  transition: 0.5s ease-in-out;
}
.card .input-div input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid black;
  width: 12rem;
  padding: 8px;
  outline: none;
}
.card .input-div input::placeholder {
  color: black;
}
.card .input-div input:focus, .card .input-div input:hover {
  transition: 0.2s ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.card .button-div {
  text-align: center;
}
.card .button-div .submit {
  margin-top: 3rem;
  padding: 8px 3rem;
  border: none;
  border-top-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  background-color: black;
  color: white;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
.card .button-div .submit:hover {
  box-shadow: rgba(44, 43, 43, 0.664) 5px 5px, rgba(45, 45, 45, 0.3) 10px 10px, rgba(60, 59, 59, 0.2) 15px 15px, rgba(54, 53, 53, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  font-size: 18px;
  padding: 40px;
  background: linear-gradient(to bottom, #FF5733, transparent);
  box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.841);
  z-index: 999;
  transition: 0.6s;
}
nav .navbar-nav {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}
nav .navbar-nav .nav-item {
  margin: 0 10px;
}
@media screen and (max-width: 480px) {
  nav .navbar-collapse {
    justify-content: flex-start;
  }
  nav .navbar-nav {
    margin-left: auto;
  }
  nav .ml-auto {
    margin-left: auto;
  }
  nav #btn-english-flag {
    height: auto;
    max-height: 40px;
  }
  nav #btn-english-flag img {
    height: 100%;
    width: auto;
    max-height: 40px;
  }
  nav .nav {
    width: 100%;
  }
  nav .btn-menu-mobile {
    display: inline-flex;
  }
  nav .menu-items {
    position: fixed;
    top: 100px;
    left: 0;
    width: 100%;
    height: calc(100vh - 100px);
    background-color: rgba(255, 99, 71, 0.89);
    text-align: center;
    flex-direction: column;
    transform: translateY(-100%);
    transition: transform 0.3s ease-in-out;
  }
  nav .menu-items li {
    margin: 30px;
  }
  nav .menu-items li a {
    color: white;
    font-size: 20px;
    font-weight: bold;
  }
  nav .menu-items li a:hover {
    color: white;
    text-shadow: 0 0 10px rgb(175, 16, 16);
    text-decoration: none;
    transform: scaleX(1.1) scaleY(1.1);
  }
  nav .menu-items.show {
    transform: translateY(0);
  }
}

.i-title {
  font-family: "Roboto", sans-serif;
  height: 70px;
  overflow: hidden;
}
.i-title-item {
  height: 70px;
  font-size: 21px;
  font-weight: bold;
  color: rgb(255, 0, 0);
  display: flex;
  align-items: center;
}
.i-title-wrapper {
  height: 100%;
  animation: move 5s ease-in-out infinite alternate;
}
@keyframes move {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}
@media (max-width: 480px) {
  .i-title {
    height: auto;
    overflow: visible;
  }
  .i-title-item {
    height: auto;
  }
  .i-title-wrapper {
    height: 100%;
    animation: none;
  }
}

.i-desc {
  font-family: "Roboto", sans-serif;
  height: 70px;
  font-size: 21px;
}

.laboral {
  display: flex;
  justify-content: center;
}
@media (max-width: 1200px) {
  .laboral {
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 480px) {
  .laboral {
    flex-direction: column;
  }
}
.laboral .laboralcolumn {
  margin-bottom: 50px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 1200px) {
  .laboral .laboralcolumn {
    max-width: 300px;
  }
}
.laboral .laboralcolumn:last-child {
  margin-right: 0;
}
@media (max-width: 480px) {
  .laboral .laboralcolumn {
    margin-right: 0;
    margin-bottom: 20px;
  }
}
.laboral .laboralcolumn .imagenlaboral {
  margin: 0 auto;
  width: auto;
  height: 100px;
}
.laboral .laboralcolumn h2 {
  color: #f90000;
  margin-top: 20px;
  font-size: 24px;
  margin-bottom: 5px;
}
.laboral .laboralcolumn h3 {
  font-size: 18px;
  color: #3b0707;
  margin-bottom: 5px;
}
.laboral .laboralcolumn p {
  text-align: left;
  font-size: 16px;
  color: #333;
  line-height: 1.5;
}

header {
  width: 100%;
}

main .i {
  display: flex;
  height: 100vh;
}
main .i .i-left {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  animation: slideInDown;
  animation-duration: 1s;
}
main .i .i-left .i-left-wrapper {
  padding: 50px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
main .i .i-left .i-left-wrapper .i-intro {
  font-family: "Roboto", sans-serif;
  color: rgb(1, 5, 22);
  font-size: 30px;
  font-weight: 1300;
}
main .i .i-left .i-left-wrapper .i-name {
  font-family: "Roboto", sans-serif;
  font-size: 60px;
  font-weight: bold;
  text-shadow: -2px 3px 3px rgba(0, 0, 0, 0.57);
}
main .i .i-right {
  flex: 1;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
}
main .i .i-right .i-img {
  mask-image: linear-gradient(black 80%, transparent 100%);
  max-height: 100%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: fadeInRight;
  animation-duration: 2s;
}
@media screen and (max-width: 480px) {
  main .i {
    flex-direction: column;
    height: 150vh;
  }
  main .i .i-left {
    display: block;
    flex-direction: column;
    order: 2;
  }
  main .i .i-left .i-left-wrapper {
    padding: 50px;
    height: 50%;
    flex-direction: column;
    justify-content: space-between;
  }
  main .i .i-left .i-left-wrapper > * {
    margin-bottom: 20px;
  }
  main .i .i-right {
    flex: 1;
    height: auto;
  }
  main .i .i-right .i-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
  }
}

footer {
  color: #0f0000;
  padding: 20px 0;
  background: linear-gradient(to top, #FF5733, transparent);
}

.footer-grid {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}
@media (max-width: 480px) {
  .footer-grid {
    flex-direction: column;
  }
}

.footer-column {
  text-align: center;
  flex: 1;
  flex-direction: column;
}
@media (max-width: 480px) {
  .footer-column {
    width: 100%;
    margin-bottom: 20px;
  }
}

.social-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.social-icons a {
  margin: 10px;
}
.social-icons img {
  width: 30px;
  height: auto;
}
.social-icons a:hover {
  transform: scale(1.2);
}

.footer-column p {
  text-align: center;
  font-size: 14px;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  max-width: 100%;
  padding: 20px;
  background: linear-gradient(to top, #FF5733, transparent);
}
.container .top-section {
  display: flex;
  flex-grow: 1;
  overflow: hidden;
  height: 500px;
}
.container .left-column {
  flex-grow: 1;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .left-column .content {
  width: 100%;
  text-align: center;
  height: auto;
}
.container .left-column .content .title {
  text-align: center;
  font-weight: bold;
  color: #ff0000;
  font-size: 48px;
  font-family: "Roboto", sans-serif;
}
.container .left-column .content .subtitle {
  text-align: center;
  color: #333333;
  font-size: 25px;
  font-family: "Roboto", sans-serif;
}
.container .left-column .content .description {
  text-align: center;
  color: #401f1f;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
}
@media (max-width: 800px) {
  .container .left-column .content .title {
    font-size: 36px;
  }
  .container .left-column .content .subtitle {
    font-size: 20px;
  }
  .container .left-column .content .description {
    font-size: 16px;
  }
}
.container .right-column {
  flex-grow: 1;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.container .right-column .profile-img {
  width: auto;
  max-height: 80%;
  mask-image: linear-gradient(black 80%, transparent 100%);
  object-fit: cover;
  animation: fadeInRight;
  animation-duration: 2s;
}
@media screen and (max-width: 480px) {
  .container .top-section {
    flex-direction: column;
    height: auto;
  }
  .container .left-column {
    width: auto;
    display: block;
    flex-direction: column;
    order: 2;
  }
  .container .left-column .content {
    text-align: center;
    height: auto;
    padding: 50px;
    height: 50%;
    flex-direction: column;
    justify-content: space-between;
  }
  .container .left-column .content > * {
    margin-bottom: 20px;
  }
  .container .right-column {
    width: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
  }
  .container .right-column .profile-img {
    justify-content: center;
    width: 100%;
    max-width: 100%;
    height: auto;
    z-index: 1;
  }
}
.container .bottom-section {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.container .bottom-section .timeline-menu {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}
.container .bottom-section .menu-item {
  background-color: #ec0707;
  color: white;
  border: none;
  margin-bottom: 10px;
  padding: 8px 16px;
  cursor: pointer;
  font-size: 14px;
  transition: transform 0.3s ease;
  border-radius: 8px;
  margin-right: 10px;
}
.container .bottom-section .menu-item:last-child {
  margin-right: 0;
}
.container .bottom-section .menu-item:hover {
  transform: scale(1.1);
}
.container .bottom-section .timeline {
  display: none;
  max-width: 400px;
  width: 100%;
}
.container .bottom-section .timeline.active {
  display: block;
}
.container .bottom-section .timeline-event {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  margin-bottom: 20px;
  position: relative;
  padding-left: 30px;
  gap: 10px;
  padding: 10px;
  position: relative;
}
.container .bottom-section .timeline-event .div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}
.container .bottom-section .timeline-event:last-child {
  margin-bottom: 0;
}
.container .bottom-section .timeline-event:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 52%;
  transform: translateX(-93%);
  width: calc(50% - 5px);
  border-left: 3px solid rgb(255, 8, 8);
}
.container .bottom-section .event-circle {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #fb0606;
  margin-right: 10px;
  position: relative;
  z-index: 1;
  transition: transform 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .bottom-section .event-circle .clip-icon {
  color: white;
  font-size: 20px;
}
.container .bottom-section .event-circle:hover {
  transform: scale(1.1);
}
.container .bottom-section .event-details {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}
.container .bottom-section .event-details h3 {
  color: #ec0303;
  font-weight: bold;
  font-size: 25px;
  margin-bottom: 10px;
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.495);
}
.container .bottom-section .event-details p {
  color: #000000;
  font-weight: bold;
  margin-bottom: 10px;
}

.custom-modal-background {
  color: rgb(223, 223, 107);
  background-color: rgb(228, 53, 53);
}

.custom-left-wrapper {
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.custom-left-wrapper .custom-text-color {
  color: rgb(0, 0, 0);
  font-size: 35px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 10px;
}
.custom-left-wrapper .custom-text {
  font-size: 25px;
  color: rgb(0, 0, 0);
  text-align: justify;
}
@media (max-width: 780px) {
  .custom-left-wrapper .custom-text-color {
    font-size: 25px;
  }
  .custom-left-wrapper .custom-text {
    font-size: 20px;
  }
}
@media (max-width: 600px) {
  .custom-left-wrapper .custom-text-color {
    font-size: 20px;
  }
  .custom-left-wrapper .custom-text {
    font-size: 16px;
  }
}
@media (max-width: 480px) {
  .custom-left-wrapper .custom-text-color {
    font-size: 30px;
  }
  .custom-left-wrapper .custom-text {
    font-size: 20px;
  }
}

/*# sourceMappingURL=style.css.map */
