.navbar {
    background-color: rgb(4, 48, 242);
    padding-top: 10px; /* Agregar padding arriba */
    padding-bottom: 10px; /* Agregar padding abajo */
    justify-content: center; /* Centrar horizontalmente */
}

.navbar-brand {
    font-size: 24px; /* Aumentar el tamaño de la fuente */
}

.navbar-toggler {
    border: none; /* Eliminar borde */
}

.navbar-toggler-icon {
    background-color: #fff; /* Cambiar color del icono del toggler */
}

.navbar-nav .nav-link {
    padding: 14px 20px; /* Ajustar padding */
}

.navbar-nav .nav-link:hover {
    background-color: #ddd; /* Cambiar color de fondo al pasar el mouse */
    color: black; /* Cambiar color del texto al pasar el mouse */
}
/* Ajuste de estilos para dispositivos móviles */
@media screen and (max-width: 600px) {
    .navbar a {
        width: 100%; /* En dispositivos móviles, ocupar todo el ancho */
        float: none; /* Cancelar el flotante para que los enlaces aparezcan uno debajo del otro */
        padding: 14px 0; /* Ajustar el relleno izquierdo y derecho */
        text-align: center; /* Centrar el texto en dispositivos móviles */
    }
}