$primary-color: linear-gradient(to buttons, #FF5733, transparent);

$footer-text-color: #0f0000;

footer {
  color: $footer-text-color;
  padding: 20px 0;
  background: linear-gradient(to top, #FF5733, transparent); 
}

.footer-grid {
  display: flex;
  justify-content: space-between;
  align-items: stretch;

  @media (max-width: 480px) {
    flex-direction: column;
  }
}

.footer-column {
  text-align: center;
  flex: 1;
  flex-direction: column; 

  @media (max-width: 480px) {
    width: 100%;
    margin-bottom: 20px;
  }
  
}

.social-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;

  a {
    margin: 10px; 
  }

  img {
    width: 30px;
    height: auto;
  }
  a:hover {
    transform: scale(1.2);
  }
}

.footer-column p {
  text-align: center;
  font-size: 14px;
  align-items: center; 
}
