$primary-color: #333;

$footer-text-color: #0f0000;

footer {
  color: $footer-text-color;
  padding: 20px 0;
}

.footer-grid {
  display: flex;
  justify-content: space-between;
  align-items: stretch;

  @media (max-width: 480px) {
    flex-direction: column;
  }
}

.footer-column {
  text-align: center;
  flex: 1;
  flex-direction: column; 

  @media (max-width: 480px) {
    width: 100%;
    margin-bottom: 20px;
  }
  
}

.social-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;

  a {
    margin: 10px; 
  }

  img {
    width: 30px;
    height: auto;
  }
}



.footer-column p {
  text-align: center;
  font-size: 14px;
  align-items: center; 
}
